.book{
 
    margin: 20px;
    height: 40vh;
    width: 30vh;
    border: 2px solid rgba(0,0,0,0.3) ;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
}
img{
    height: 80%;
    width: 100%;
}